In [5]:
%matplotlib inline
from IPython.display import Image
from IPython.core.display import HTML 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = 16, 9

In [7]:
df_people = pd.read_csv("../data/raw/people.csv")
df_people.head()

,people_id,char_1,group_1,char_2,date,char_3,char_4,char_5,char_6,char_7,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,False,True,True,False,False,True,True,True,False,36
1,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,False,True,True,True,True,True,True,True,False,76
2,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,False,False,True,True,True,True,False,True,True,99
3,ppl_100004,type 2,group 22593,type 3,2022-07-20,type 40,type 25,type 9,type 4,type 16,...,True,True,True,True,True,True,True,True,True,76
4,ppl_100006,type 2,group 6534,type 3,2022-07-27,type 40,type 25,type 9,type 3,type 8,...,False,False,True,False,False,False,True,True,False,84

In [9]:
df_act_test = pd.read_csv("../data/raw/act_test.csv")
df_act_test.head()

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10
0,ppl_100004,act1_249281,2022-07-20,type 1,type 5,type 10,type 5,type 1,type 6,type 1,type 1,type 7,type 4,NaN
1,ppl_100004,act2_230855,2022-07-20,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 682
2,ppl_10001,act1_240724,2022-10-14,type 1,type 12,type 1,type 5,type 4,type 6,type 1,type 1,type 13,type 10,NaN
3,ppl_10001,act1_83552,2022-11-27,type 1,type 20,type 10,type 5,type 4,type 6,type 1,type 1,type 5,type 5,NaN
4,ppl_10001,act2_1043301,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015

In [11]:
df_act_train = pd.read_csv("../data/raw/act_train.csv")
df_act_train.head()

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0

In [12]:
df_act_train.describe()

            outcome
count  2.197291e+06
mean   4.439544e-01
std    4.968491e-01
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    1.000000e+00
max    1.000000e+00

In [13]:
df_act_train.

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
1,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
3,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
4,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
5,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
6,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
7,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
8,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
9,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
10,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
11,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
12,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
13,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
14,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
15,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
16,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
17,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
18,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
19,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
20,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
21,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
22,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
23,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
24,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
25,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
26,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
27,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
28,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
29,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2197261,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197262,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197263,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197264,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197265,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197266,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197267,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197268,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197269,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197270,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197271,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197272,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197273,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197274,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197275,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197276,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197277,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197278,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197279,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197280,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197281,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197282,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197283,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197284,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197285,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197286,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197287,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197288,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197289,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
2197290,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False